header{
    background-color: #666;
    padding: 25px;
    text-align: center;
    color: white;
}
a{
    color:brown;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #555;
}
body{
    background-color: gray;
}
p{
    color: black;
}
h1{
    color: red;
}
h6{
    color:white;
    font-size:xx-small;
}
footer{
    position:absolute;
    bottom:0;
    height: 2.5rem;
}